apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: frontend
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: frontend
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      enableServiceLinks: false
      containers:
        - image: gcr.io/google-samples/hello-app:1.0
          imagePullPolicy: Always
          name: frontend
          ports:
            - containerPort: {{ .Values.port }}
          env:
            - name: PORT
              value: {{ .Values.port | quote }}
status: {}
