apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: frontend
  name: frontend
spec:
  type: NodePort
  ports:
    - port: {{ .Values.interceptorPort }}
      targetPort: {{ .Values.port }}
  selector:
    app: frontend
