{{- if .Values.autoscaling.enabled -}}
kind: HTTPScaledObject
apiVersion: http.keda.sh/v1alpha1
metadata:
    name: frontend
spec:
    host: {{ .Values.host }}
    targetPendingRequests: {{ .Values.targetPendingRequests }}
    scaleTargetRef:
        deployment: frontend
        service: frontend
        port: {{ .Values.interceptorPort }}
    replicas:
        min: {{ .Values.autoscaling.http.minReplicas }}
        max: {{ .Values.autoscaling.http.maxReplicas }}
{{- end }}