apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: django
  name: django
spec:
  type: NodePort
  ports:
    - name: "5000"
      port: 5000
      targetPort: 5000
  selector:
    app: django
