apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "xkcd.fullname" . }}
  namespace: {{ .Values.ingressNamespace | default .Release.Namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: {{ .Values.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "xkcd.fullname" . }}
            port:
              number: 8080
