apiVersion: v1
kind: Service
metadata:
  name: {{ include "xkcd.fullname" . }}
  labels:
    {{- include "xkcd.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    {{- include "xkcd.selectorLabels" . | nindent 4 }}
